target/
dependency-reduced-pom.xml
codes/

# Intellij IDEA
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.settings/
.project
# dockerTest/

#test files
test.html

#npm files
node_modules/
.cache/
dist/
coverage/
.vscode/
.env