#main-page {
  text-align: center;
  margin: 0 auto;
}

td {
  padding: 10px 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.codeDiv {
  position: relative;
  min-height: 1px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 10px;
}

#search {
  padding: 10px;
  margin: auto;
  display: flex;
}
